<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
    <script src="http://localhost:8098"></script>
</head>
<body>
    <div class="configurator" id="configurator">
        <div class="configurator__title">Конфигуратор {{ computedModel.name }}</div>
        <div class="configurator__tabs">
            <div class="configurator__tab" v-for="(step, index) in steps" :key="index" :class="{'isActive': step.isActive, 'isCompleated': step.isCompleated}">
                <div class="number">{{ index+1 }}</div>
                <div class="text">{{ step.name }}</div>
            </div>
        </div>
        <div class="configurator__screens">
            <div class="configurator__container">
                <div class="configurator__screen">
                    <!-- Left side screens -->
                    <div class="configurator__screen-left" v-show="curentStepIndex == 0">
                        <div class="configurator__screen-media">
                            <img :src="`/images/models/tesla-${selectedModelKey}.jpeg`" width="100%" alt="">
                        </div>
                        <div class="configurator__screen-params">
                            <div class="configurator__screen-param" v-for="(param, key) in computedComplect.params" :key="key">
                                <div class="title">{{ param.range }} {{ param.measuring }}</div>
                                <div class="name">{{ param.title }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="configurator__screen-left" v-show="curentStepIndex == 1">
                        2
                    </div>
                    <div class="configurator__screen-left" v-show="curentStepIndex == 2">
                        3
                    </div>
                    <div class="configurator__screen-left" v-show="curentStepIndex == 3">
                        4
                    </div>
                    <div class="configurator__screen-left" v-show="curentStepIndex == 4">
                        5
                    </div>
                    <!-- Left side screens end -->
                    <div class="configurator__screen-right">
                        <div class="configurator__form">
                            <!-- Right side screens -->
                            <div class="configurator__form-top" v-show="curentStepIndex == 0">
                                <div class="configurator__form-items">
                                    <div class="configurator__form-item">
                                        <div class="configurator__form-item_title">Выберите модель</div>
                                        <div class="configurator__form-item_fields">
                                            <div class="configurator__form-item_field">
                                                <select v-model="selectedModelKey">
                                                    <option v-for="model in models" :value="model.key" :key="model.key">{{ model.name }}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="configurator__form-item">
                                        <div class="configurator__form-item_title">Выберите комплектацию</div>
                                        <div class="configurator__form-item_fields">
                                            <div class="configurator__form-item_field" v-for="complect in computedModel.complects.items" :key="complect.key">
                                                <label class="configurator__form-item_complect">
                                                    <input type="radio" name="selectedComplect" :value="complect.key" v-model="computedModel.complects.selected">
                                                    <div class="configurator__form-item_complect_in">
                                                        <div class="name">{{ complect.name }}</div>
                                                        <div class="price">{{ complect.price }}</div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="configurator__form-top" v-show="curentStepIndex == 1">
                                <div class="configurator__form-items">
                                    <div class="configurator__form-item configurator__form-item--colors">
                                        <div class="configurator__form-item_title">Выберите цвет автомобиля</div>
                                        <div class="configurator__form-item_colors">
                                            <label class="configurator__form-item_color" v-for="color in computedModel.colors.items" :key="color.id">
                                                <input type="radio" name="color" :value="color.id" v-model="computedModel.colors.selected">
                                                <div class="color" :style="`--color: ${color.code};`"></div>
                                            </label>
                                        </div>
                                        <div class="configurator__form-item_color_name">
                                            <div class="left">
                                                {{computedModel.colors.items[computedModel.colors.selected].name}}
                                            </div>
                                            <div class="right">
                                                {{computedModel.colors.items[computedModel.colors.selected].price}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Right side screens end -->
                            <div class="configurator__form-bottom">
                                <button class="configurator__form-button configurator__button configurator__button--outlined configurator__button--back" v-if="curentStepIndex > 0" @click.prevent="prevStep">
                                    <div class="text">Назад</div>
                                 </button>
                                 <button class="configurator__form-button configurator__button" @click.prevent="nextStep">
                                    <div class="text">Продолжить</div>
                                    <div class="arrow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 0 10 11" fill="none">
                                            <path d="M7.94141 5.94141C8.18555 5.69727 8.18555 5.30078 7.94141 5.05664L4.19141 1.30664C3.94727 1.0625 3.55078 1.0625 3.30664 1.30664C3.0625 1.55078 3.0625 1.94727 3.30664 2.19141L6.61523 5.5L3.30859 8.80859C3.06445 9.05273 3.06445 9.44922 3.30859 9.69336C3.55273 9.9375 3.94922 9.9375 4.19336 9.69336L7.94336 5.94336L7.94141 5.94141Z" fill="white"/>
                                        </svg>
                                    </div>
                                 </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="./configurator.js"></script>
</body>
</html>