.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }

.glide * {
  box-sizing: inherit; }

.glide__track {
  overflow: hidden; }

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform; }

.glide__slides--dragging {
  user-select: none; }

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent; }

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none; }

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none; }

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none; }

.glide--rtl {
  direction: rtl; }

.configurator {
  padding-top: 90px;
  font-family: 'CodecProUltra',Arial,sans-serif; }

.configurator__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

.configurator__title {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 36px;
  margin-bottom: 33px;
  color: #547546;
  padding: 0 20px; }

.configurator__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 29px; }

.configurator__tab {
  display: flex;
  align-items: center;
  border: 2px solid #E0E0E0;
  border-radius: 8px;
  padding: 15px 20px; }

.configurator__tab .number {
  width: 34px;
  height: 34px;
  background: #F1F1F1;
  border-radius: 50%;
  text-align: center;
  line-height: 34px;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  color: #808080;
  margin-right: 10px; }

.configurator__tab .text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 15px;
  color: #3D3D3D; }

.configurator__tab:not(:last-child) {
  margin-right: 12px; }

.configurator__tab.isActive, .configurator__tab.isCompleated {
  background: #547546;
  border-color: #547546; }

.configurator__tab.isActive .number, .configurator__tab.isCompleated .number {
  color: #547546;
  background: #fff; }

.configurator__tab.isActive .text, .configurator__tab.isCompleated .text {
  color: #fff; }

.configurator__screens {
  padding: 73px 20px;
  background: #FFFFFF;
  box-shadow: inset 0px 45px 85px -90px rgba(0, 0, 0, 0.25); }

.configurator__screen {
  display: flex;
  margin-bottom: 10px; }

.configurator__screen-left {
  width: 69%;
  box-sizing: border-box;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.configurator__screen-left.glide {
  position: relative; }

.configurator__screen-right {
  width: 31%;
  box-sizing: border-box;
  border-left: 1px solid #E0E0E0;
  padding-left: 50px; }

.configurator__screen-params {
  display: flex;
  align-items: flex-start; }

.configurator__screen-param {
  min-width: 182px;
  padding: 12px 12px 12px 0;
  box-sizing: border-box; }

.configurator__screen-param:not(:last-child) {
  margin-right: 20px;
  border-right: 2px solid #E0E0E0; }

.configurator__screen-param .title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 10px; }

.configurator__screen-param .name {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 12px;
  color: #8B8B8B; }

.configurator__screen-media {
  width: 100%;
  overflow: hidden; }

.configurator__screen-media img {
  width: 100%;
  object-fit: fill;
  transform: scale(1.6); }

.configurator__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.configurator__form-top {
  margin-bottom: 30px; }

.configurator__form-item:not(:last-child) {
  margin-bottom: 30px; }

.configurator__form-item--colors {
  padding-bottom: 24px;
  border-bottom: 1px solid #E0E0E0; }

.configurator__form-item_fields .text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #8B8B8B; }

.configurator__form-item_title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 19px;
  margin-bottom: 10px;
  color: #000000; }

.configurator__form-item_field {
  width: 100%; }

.configurator__form-item_field:not(:last-child) {
  margin-bottom: 12px; }

.configurator__form-item_field select, .configurator__form-item_field input {
  width: 100%;
  height: 55px;
  padding: 0 30px;
  border: 2px solid #E0E0E0;
  border-radius: 8px;
  outline: none;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 15px;
  color: #3D3D3D;
  box-sizing: border-box; }

.configurator__form-item_field select:focus, .configurator__form-item_field select:active, .configurator__form-item_field input:focus, .configurator__form-item_field input:active {
  border-color: #547546; }

.configurator__form-item_field select {
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTEiIHZpZXdCb3g9IjAgMCAxMCAxMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNTU4NTkgOC40NDE0MUM0LjgwMjczIDguNjg1NTUgNS4xOTkyMiA4LjY4NTU1IDUuNDQzMzYgOC40NDE0MUw5LjE5MzM2IDQuNjkxNDFDOS40Mzc1IDQuNDQ3MjcgOS40Mzc1IDQuMDUwNzggOS4xOTMzNiAzLjgwNjY0QzguOTQ5MjIgMy41NjI1IDguNTUyNzMgMy41NjI1IDguMzA4NTkgMy44MDY2NEw1IDcuMTE1MjNMMS42OTE0MSAzLjgwODU5QzEuNDQ3MjcgMy41NjQ0NSAxLjA1MDc4IDMuNTY0NDUgMC44MDY2NDEgMy44MDg1OUMwLjU2MjUgNC4wNTI3MyAwLjU2MjUgNC40NDkyMiAwLjgwNjY0MSA0LjY5MzM2TDQuNTU2NjQgOC40NDMzNkw0LjU1ODU5IDguNDQxNDFaIiBmaWxsPSJibGFjayIvPgo8L3N2Zz4K") no-repeat;
  background-position: right 30px center;
  /* Change the px value here to change the distance */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-right: 50px; }

.configurator__form-bottom {
  display: flex;
  align-items: center; }

.configurator__button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background: #547546;
  border: 2px solid #547546;
  border-radius: 8px;
  padding: 20px 30px;
  flex: 1 1 auto;
  cursor: pointer; }

.configurator__button .text {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 15px;
  color: #FFFFFF; }

.configurator__button .arrow {
  width: 10px;
  font-size: 0;
  margin-left: 10px; }

.configurator__button--outlined {
  background: transparent; }

.configurator__button--outlined .text {
  color: #547546; }

.configurator__button--back {
  margin-right: 18px; }

.configurator__form-item_complect {
  cursor: pointer; }

.configurator__form-item_complect input {
  display: none; }

.configurator__form-item_complect_in {
  width: 100%;
  height: 55px;
  padding: 0 30px;
  border: 2px solid #E0E0E0;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box; }

.configurator__form-item_complect_in .name,
.configurator__form-item_complect_in .price {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 15px;
  color: #3D3D3D; }

.configurator__form-item_complect input:checked + .configurator__form-item_complect_in {
  border-color: #547546; }

.configurator__form-item_colors, .configurator__form-item_rims {
  display: flex;
  align-items: center; }

.configurator__form-item_color:not(:last-child), .configurator__form-item_rim:not(:last-child) {
  margin-right: 9px; }

.configurator__form-item_color input, .configurator__form-item_rim input {
  display: none; }

.configurator__form-item_color .color, .configurator__form-item_rim .color {
  position: relative;
  overflow: hidden;
  background: radial-gradient(circle at 50% 120%, #fff, rgba(0, 0, 0, 0.3) 10%, var(--color) 80%, var(--color) 100%); }

.configurator__form-item_color .color:after, .configurator__form-item_rim .color:after {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2; }

.configurator__form-item_color .color,
.configurator__form-item_color .rim, .configurator__form-item_rim .color,
.configurator__form-item_rim .rim {
  width: 55px;
  height: 55px;
  border: 3px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer; }

.configurator__form-item_color .rim, .configurator__form-item_rim .rim {
  width: 82px;
  height: 82px;
  padding: 7px; }

.configurator__form-item_color input:checked + .color,
.configurator__form-item_color input:checked + .rim, .configurator__form-item_rim input:checked + .color,
.configurator__form-item_rim input:checked + .rim {
  border-color: #547546; }

.configurator__form-item_color_name, .configurator__form-item_rim_name {
  margin-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 15px;
  color: #8B8B8B;
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.configurator__form-item_color_name .right, .configurator__form-item_rim_name .right {
  white-space: nowrap; }

.configurator .wpcf7-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px 20px;
  flex-wrap: wrap; }

.configurator__screen-form-field {
  width: calc(50% - 20px); }

.configurator__screen-form-field .name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 15px;
  color: #3D3D3D;
  margin-bottom: 11px; }

.configurator__screen-form-field input {
  width: 100%;
  height: 54px;
  left: 737px;
  top: 169px;
  border: 2px solid #E0E0E0;
  border-radius: 8px;
  padding: 0 30px;
  box-sizing: border-box;
  outline: none; }

.configurator__screen-form-field input, .configurator__screen-form-field input::placeholder {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 14px;
  color: #3D3D3D; }

.configurator__screen-form-field input:focus, .configurator__screen-form-field input:active {
  border-color: #547546; }

.configurator__screen-form-capture {
  margin-top: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #8B8B8B; }

.configurator__form-total-title {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 19px;
  margin-bottom: 10px;
  color: #000000; }

.configurator__form-total-image {
  overflow: hidden; }

.configurator__form-total-image img {
  transform: scale(1.6); }

.configurator__form-total-list-item {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  color: #8B8B8B;
  display: flex;
  align-items: center; }

.configurator__form-total-list-item:before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 10px;
  background: #547546; }

.configurator__form-total-price {
  font-style: normal;
  font-weight: 300;
  font-size: 35px;
  line-height: 30px;
  color: #000000;
  margin-top: 20px; }

.glide__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  box-shadow: 0px 4px 20px -10px rgba(0, 0, 0, 0.25);
  background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHZpZXdCb3g9IjAgMCA0OCA0OCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iNDgiIHk9IjQ4IiB3aWR0aD0iNDgiIGhlaWdodD0iNDgiIHJ4PSIyNCIgdHJhbnNmb3JtPSJyb3RhdGUoLTE4MCA0OCA0OCkiIGZpbGw9IndoaXRlIi8+CjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMF82XzI3NCkiPgo8cGF0aCBkPSJNMjYuOTQxNCAyNC40NDE0QzI3LjE4NTUgMjQuMTk3MyAyNy4xODU1IDIzLjgwMDggMjYuOTQxNCAyMy41NTY2TDIzLjE5MTQgMTkuODA2NkMyMi45NDczIDE5LjU2MjUgMjIuNTUwOCAxOS41NjI1IDIyLjMwNjYgMTkuODA2NkMyMi4wNjI1IDIwLjA1MDggMjIuMDYyNSAyMC40NDczIDIyLjMwNjYgMjAuNjkxNEwyNS42MTUyIDI0TDIyLjMwODYgMjcuMzA4NkMyMi4wNjQ1IDI3LjU1MjcgMjIuMDY0NSAyNy45NDkyIDIyLjMwODYgMjguMTkzNEMyMi41NTI3IDI4LjQzNzUgMjIuOTQ5MiAyOC40Mzc1IDIzLjE5MzQgMjguMTkzNEwyNi45NDM0IDI0LjQ0MzRMMjYuOTQxNCAyNC40NDE0WiIgZmlsbD0iYmxhY2siLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMF82XzI3NCI+CjxyZWN0IHdpZHRoPSIxMCIgaGVpZ2h0PSIxMCIgZmlsbD0id2hpdGUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE5IDI5KSByb3RhdGUoLTkwKSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=") 50% 50%/cover no-repeat;
  font-size: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer; }

.glide__arrow--left {
  left: -15px;
  transform: translateY(-50%) rotate(180deg); }

.glide__arrow--right {
  right: 15px; }
